%h1 Listing slides

=new_tool Slide
%br

%table.table.table-striped
  %tr
    %th Title
    %th Description
    %th Public
    %th

  - @slides.each do |slide|
    %tr
      %td= slide.title
      %td= slide.description
      %td= tick slide.public
      %td= user_tools slide, false

