- title "Consultores CIC Perú"
- description "Consultores CIC Perú"
= render :partial => 'layouts/breadcrumb'
.row-fluid
  .pull-left
    %h1 Consultores
  .pull-right
    %br
    = new_tool Consultant
%br
= render :partial => "consultant", :collection => @consultants
