%h1 Listing tags

= new_tool Tag
%br

%table.table.table-striped
  %tr
    %th Title
    %th Description
    %th

  - @tags.each do |tag|
    %tr
      %td= tag.title
      %td= tag.description
      %td= user_tools tag, false

