%h2 Listing archives

= new_tool Archive, {}, {:remote=>true}

%table.table.table-striped
  %tr
    %th Archive
    %th Description
    %th

  - @archives.each do |archive|
    %tr
      %td= image_tag archive.archive_url(:thumb) if archive.archive?
      %td= archive.description
      %td= user_tools archive, false, {:text=>false, :remote=>true}

