.divisor
.well.txt-center
  ©
  |
  = Time.now.year
  %strong CIC Perú
  |
  Arístides Aljovín 357 Of. 4 – Miraflores – Lima
  %br
  %strong Telf:
  51-1-242-3567
  |
  %strong Email:
  = mail_to "consultas@cic-peru.com"
.divisor
