.row-fluid
  .pull-left
    = link_to root_path do
      = image_tag "logo.jpg"
  .pull-right
    .row-fluid
      .pull-right
        %p= l(Time.now.to_date, :format=>:long).capitalize
    .row-fluid
      -#= render :partial => "layouts/user_nav"
.divisor.row-fluid
%p
